nodered/dashboard-flows.json
[
  {
    "id": "xsphere-tab",
    "type": "tab",
    "label": "xsphere Slow Control",
    "disabled": false,
    "info": "xsphere cryostat slow control dashboard.\n\nImport into Node-RED running on xbox-pi (192.168.8.116:1880).\n\nRequired Node-RED packages:\n  npm install node-red-dashboard\n\nVerify MQTT broker node points to localhost:1883 (or 192.168.8.116:1883)."
  },

  {
    "id": "mqtt-broker",
    "type": "mqtt-broker",
    "name": "xbox-pi Mosquitto",
    "broker": "localhost",
    "port": "1883",
    "clientid": "nodered-xsphere-dashboard",
    "usetls": false,
    "compatmode": false,
    "protocolVersion": "5",
    "keepalive": "60",
    "cleansession": true,
    "autoConnect": true
  },

  {
    "id": "ui-tab-temps",
    "type": "ui_tab",
    "name": "Temperatures",
    "icon": "device_thermostat",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui-tab-pid",
    "type": "ui_tab",
    "name": "PID / Heaters",
    "icon": "whatshot",
    "order": 2,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui-tab-level",
    "type": "ui_tab",
    "name": "Level / Valves",
    "icon": "opacity",
    "order": 3,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui-tab-gas",
    "type": "ui_tab",
    "name": "Gas Handling",
    "icon": "air",
    "order": 4,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui-tab-interlocks",
    "type": "ui_tab",
    "name": "Interlocks",
    "icon": "security",
    "order": 5,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui-tab-scanner",
    "type": "ui_tab",
    "name": "Gradient Scan",
    "icon": "timeline",
    "order": 6,
    "disabled": false,
    "hidden": false
  },

  {
    "id": "grp-plc-temps",
    "type": "ui_group",
    "name": "PLC Temperatures",
    "tab": "ui-tab-temps",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp-omega-temps",
    "type": "ui_group",
    "name": "Omega Logger Temperatures",
    "tab": "ui-tab-temps",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp-pid-status",
    "type": "ui_group",
    "name": "PID Status",
    "tab": "ui-tab-pid",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp-gradient",
    "type": "ui_group",
    "name": "Gradient Control",
    "tab": "ui-tab-pid",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp-level",
    "type": "ui_group",
    "name": "LN2 Level Sensors",
    "tab": "ui-tab-level",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp-valves",
    "type": "ui_group",
    "name": "Fill Valves",
    "tab": "ui-tab-level",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp-pressure",
    "type": "ui_group",
    "name": "Pressure Gauges",
    "tab": "ui-tab-gas",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp-vacuum",
    "type": "ui_group",
    "name": "Vacuum Gauges",
    "tab": "ui-tab-gas",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp-environment",
    "type": "ui_group",
    "name": "Environment",
    "tab": "ui-tab-gas",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp-alerts",
    "type": "ui_group",
    "name": "Active Alerts",
    "tab": "ui-tab-interlocks",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp-scanner",
    "type": "ui_group",
    "name": "Gradient Scanner",
    "tab": "ui-tab-scanner",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },

  {
    "id": "mqtt-in-temp-plc",
    "type": "mqtt in",
    "z": "xsphere-tab",
    "name": "PLC Temperatures",
    "topic": "xsphere/sensors/temperature/plc/#",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 100,
    "y": 80,
    "wires": [["fn-plc-temp-route"]]
  },

  {
    "id": "fn-plc-temp-route",
    "type": "function",
    "z": "xsphere-tab",
    "name": "Route PLC temps",
    "func": "// Extract channel from topic: xsphere/sensors/temperature/plc/{channel}\nvar parts = msg.topic.split('/');\nvar ch = parts[parts.length - 1];\nvar val = msg.payload.value_k;\nif (val !== undefined && val !== null) {\n    msg.payload = parseFloat(val).toFixed(3) + ' K';\n    msg.topic = ch;\n}\nreturn msg;",
    "outputs": 1,
    "x": 300,
    "y": 80,
    "wires": [["ui-text-plc-temp"]]
  },

  {
    "id": "ui-text-plc-temp",
    "type": "ui_text",
    "z": "xsphere-tab",
    "group": "grp-plc-temps",
    "order": 1,
    "width": 4,
    "height": 1,
    "name": "PLC Temp",
    "label": "{{msg.topic}}",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 500,
    "y": 80,
    "wires": []
  },

  {
    "id": "mqtt-in-temp-omega",
    "type": "mqtt in",
    "z": "xsphere-tab",
    "name": "Omega Temperatures",
    "topic": "xsphere/sensors/temperature/omega/#",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 100,
    "y": 160,
    "wires": [["fn-omega-temp-route"]]
  },

  {
    "id": "fn-omega-temp-route",
    "type": "function",
    "z": "xsphere-tab",
    "name": "Route Omega temps",
    "func": "var label = msg.payload.label || msg.topic.split('/').pop();\nvar fault = msg.payload.fault;\nif (fault) {\n    msg.payload = label + ': FAULT';\n} else {\n    var k = parseFloat(msg.payload.value_k);\n    var c = parseFloat(msg.payload.value_c);\n    msg.payload = label + ': ' + k.toFixed(2) + ' K (' + c.toFixed(2) + ' °C)';\n}\nmsg.topic = label;\nreturn msg;",
    "outputs": 1,
    "x": 310,
    "y": 160,
    "wires": [["ui-text-omega-temp"]]
  },

  {
    "id": "ui-text-omega-temp",
    "type": "ui_text",
    "z": "xsphere-tab",
    "group": "grp-omega-temps",
    "order": 1,
    "width": 6,
    "height": 1,
    "name": "Omega Temp",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 510,
    "y": 160,
    "wires": []
  },

  {
    "id": "mqtt-in-pid-status",
    "type": "mqtt in",
    "z": "xsphere-tab",
    "name": "PID Status",
    "topic": "xsphere/status/pid/#",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 100,
    "y": 260,
    "wires": [["fn-pid-status"]]
  },

  {
    "id": "fn-pid-status",
    "type": "function",
    "z": "xsphere-tab",
    "name": "Format PID status",
    "func": "var zone = msg.topic.split('/').pop();\nvar p = msg.payload;\nvar out = p.output_pct !== undefined ? parseFloat(p.output_pct).toFixed(1) + '%' : '?';\nvar sp  = p.setpoint_k  !== undefined ? parseFloat(p.setpoint_k).toFixed(1)  + ' K' : '?';\nvar pv  = p.pv_k        !== undefined ? parseFloat(p.pv_k).toFixed(2)        + ' K' : '?';\nmsg.payload = zone.toUpperCase() + ' | SP: ' + sp + ' | PV: ' + pv + ' | OUT: ' + out;\nmsg.topic = zone;\nreturn msg;",
    "outputs": 1,
    "x": 310,
    "y": 260,
    "wires": [["ui-text-pid-status"]]
  },

  {
    "id": "ui-text-pid-status",
    "type": "ui_text",
    "z": "xsphere-tab",
    "group": "grp-pid-status",
    "order": 1,
    "width": 12,
    "height": 1,
    "name": "PID Status",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 510,
    "y": 260,
    "wires": []
  },

  {
    "id": "mqtt-in-gradient-status",
    "type": "mqtt in",
    "z": "xsphere-tab",
    "name": "Gradient Status",
    "topic": "xsphere/status/gradient",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 100,
    "y": 340,
    "wires": [["fn-gradient-status"]]
  },

  {
    "id": "fn-gradient-status",
    "type": "function",
    "z": "xsphere-tab",
    "name": "Gradient status display",
    "func": "var p = msg.payload;\nvar mode = p.mode || '?';\nvar base = p.base_k !== undefined ? parseFloat(p.base_k).toFixed(1) + ' K' : '?';\nvar dv   = p.delta_v_k !== undefined ? parseFloat(p.delta_v_k).toFixed(1) + ' K' : '?';\nvar dl   = p.delta_l_k !== undefined ? parseFloat(p.delta_l_k).toFixed(1) + ' K' : '?';\nmsg.payload = 'Mode: ' + mode + ' | Base: ' + base + ' | ΔV: ' + dv + ' | ΔL: ' + dl;\nreturn msg;",
    "outputs": 1,
    "x": 310,
    "y": 340,
    "wires": [["ui-text-gradient-status"]]
  },

  {
    "id": "ui-text-gradient-status",
    "type": "ui_text",
    "z": "xsphere-tab",
    "group": "grp-gradient",
    "order": 1,
    "width": 12,
    "height": 1,
    "name": "Gradient Status",
    "label": "Gradient",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 520,
    "y": 340,
    "wires": []
  },

  {
    "id": "ui-slider-base",
    "type": "ui_slider",
    "z": "xsphere-tab",
    "name": "Base setpoint",
    "label": "Base setpoint (K)",
    "tooltip": "Base temperature for gradient mode",
    "group": "grp-gradient",
    "order": 2,
    "width": 8,
    "height": 1,
    "passthru": false,
    "outs": "end",
    "topic": "",
    "topicType": "str",
    "min": "50",
    "max": "400",
    "step": "0.5",
    "className": "",
    "x": 130,
    "y": 400,
    "wires": [["fn-send-base"]]
  },

  {
    "id": "fn-send-base",
    "type": "function",
    "z": "xsphere-tab",
    "name": "Publish base_k",
    "func": "msg.topic = 'xsphere/commands/gradient/base';\nmsg.payload = JSON.stringify({value_k: parseFloat(msg.payload)});\nreturn msg;",
    "outputs": 1,
    "x": 350,
    "y": 400,
    "wires": [["mqtt-out-commands"]]
  },

  {
    "id": "ui-slider-delta-v",
    "type": "ui_slider",
    "z": "xsphere-tab",
    "name": "ΔV (bottom−top)",
    "label": "ΔV bottom−top (K)",
    "tooltip": "Vertical gradient: bottom zone = base + ΔV",
    "group": "grp-gradient",
    "order": 3,
    "width": 8,
    "height": 1,
    "passthru": false,
    "outs": "end",
    "topic": "",
    "topicType": "str",
    "min": "-20",
    "max": "20",
    "step": "0.5",
    "className": "",
    "x": 130,
    "y": 460,
    "wires": [["fn-send-delta-v"]]
  },

  {
    "id": "fn-send-delta-v",
    "type": "function",
    "z": "xsphere-tab",
    "name": "Publish delta_v",
    "func": "msg.topic = 'xsphere/commands/gradient/vertical';\nmsg.payload = JSON.stringify({delta_k: parseFloat(msg.payload)});\nreturn msg;",
    "outputs": 1,
    "x": 350,
    "y": 460,
    "wires": [["mqtt-out-commands"]]
  },

  {
    "id": "ui-slider-delta-l",
    "type": "ui_slider",
    "z": "xsphere-tab",
    "name": "ΔL (nozzle−top)",
    "label": "ΔL nozzle−top (K)",
    "tooltip": "Longitudinal gradient: nozzle zone = base + ΔL",
    "group": "grp-gradient",
    "order": 4,
    "width": 8,
    "height": 1,
    "passthru": false,
    "outs": "end",
    "topic": "",
    "topicType": "str",
    "min": "-20",
    "max": "20",
    "step": "0.5",
    "className": "",
    "x": 130,
    "y": 520,
    "wires": [["fn-send-delta-l"]]
  },

  {
    "id": "fn-send-delta-l",
    "type": "function",
    "z": "xsphere-tab",
    "name": "Publish delta_l",
    "func": "msg.topic = 'xsphere/commands/gradient/longitudinal';\nmsg.payload = JSON.stringify({delta_k: parseFloat(msg.payload)});\nreturn msg;",
    "outputs": 1,
    "x": 350,
    "y": 520,
    "wires": [["mqtt-out-commands"]]
  },

  {
    "id": "ui-btn-mode-gradient",
    "type": "ui_button",
    "z": "xsphere-tab",
    "name": "Gradient mode",
    "group": "grp-gradient",
    "order": 5,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "Gradient Mode",
    "tooltip": "Switch to coupled gradient mode",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "{\"mode\":\"gradient\"}",
    "payloadType": "json",
    "topic": "xsphere/commands/gradient/mode",
    "topicType": "str",
    "x": 130,
    "y": 580,
    "wires": [["mqtt-out-commands"]]
  },

  {
    "id": "ui-btn-mode-absolute",
    "type": "ui_button",
    "z": "xsphere-tab",
    "name": "Absolute mode",
    "group": "grp-gradient",
    "order": 6,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "Absolute Mode",
    "tooltip": "Switch to independent per-zone absolute setpoints",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "{\"mode\":\"absolute\"}",
    "payloadType": "json",
    "topic": "xsphere/commands/gradient/mode",
    "topicType": "str",
    "x": 380,
    "y": 580,
    "wires": [["mqtt-out-commands"]]
  },

  {
    "id": "mqtt-in-level",
    "type": "mqtt in",
    "z": "xsphere-tab",
    "name": "Level Sensors",
    "topic": "xsphere/sensors/level/#",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 100,
    "y": 680,
    "wires": [["fn-level-display"]]
  },

  {
    "id": "fn-level-display",
    "type": "function",
    "z": "xsphere-tab",
    "name": "Format level",
    "func": "var vessel = msg.topic.split('/').pop();\nvar p = msg.payload;\nvar val = p.raw_pf !== undefined ? parseFloat(p.raw_pf).toFixed(3) + ' pF' : '?';\nif (p.valid === false) val = 'FAULT';\nmsg.payload = vessel.toUpperCase() + ': ' + val;\nreturn msg;",
    "outputs": 1,
    "x": 300,
    "y": 680,
    "wires": [["ui-text-level"]]
  },

  {
    "id": "ui-text-level",
    "type": "ui_text",
    "z": "xsphere-tab",
    "group": "grp-level",
    "order": 1,
    "width": 6,
    "height": 1,
    "name": "Level",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 490,
    "y": 680,
    "wires": []
  },

  {
    "id": "ui-switch-auto-open-ballast",
    "type": "ui_switch",
    "z": "xsphere-tab",
    "name": "Ballast auto-open",
    "label": "Ballast auto-open",
    "tooltip": "Enable automatic valve opening when ballast level is low",
    "group": "grp-valves",
    "order": 1,
    "width": 4,
    "height": 1,
    "passthru": false,
    "decouple": "false",
    "topic": "xsphere/commands/valve/ballast/auto_open",
    "topicType": "str",
    "style": "",
    "onvalue": "{\"enabled\":true}",
    "onvalueType": "json",
    "onicon": "",
    "oncolor": "",
    "offvalue": "{\"enabled\":false}",
    "offvalueType": "json",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 150,
    "y": 760,
    "wires": [["mqtt-out-commands"]]
  },

  {
    "id": "ui-switch-auto-close-ballast",
    "type": "ui_switch",
    "z": "xsphere-tab",
    "name": "Ballast auto-close",
    "label": "Ballast auto-close",
    "tooltip": "Enable automatic valve closing when ballast level is high",
    "group": "grp-valves",
    "order": 2,
    "width": 4,
    "height": 1,
    "passthru": false,
    "decouple": "false",
    "topic": "xsphere/commands/valve/ballast/auto_close",
    "topicType": "str",
    "style": "",
    "onvalue": "{\"enabled\":true}",
    "onvalueType": "json",
    "onicon": "",
    "oncolor": "",
    "offvalue": "{\"enabled\":false}",
    "offvalueType": "json",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 150,
    "y": 820,
    "wires": [["mqtt-out-commands"]]
  },

  {
    "id": "ui-switch-auto-open-primary",
    "type": "ui_switch",
    "z": "xsphere-tab",
    "name": "Primary auto-open",
    "label": "Primary_xe auto-open",
    "tooltip": "Enable automatic valve opening when primary_xe level is low",
    "group": "grp-valves",
    "order": 3,
    "width": 4,
    "height": 1,
    "passthru": false,
    "decouple": "false",
    "topic": "xsphere/commands/valve/primary_xe/auto_open",
    "topicType": "str",
    "style": "",
    "onvalue": "{\"enabled\":true}",
    "onvalueType": "json",
    "onicon": "",
    "oncolor": "",
    "offvalue": "{\"enabled\":false}",
    "offvalueType": "json",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 150,
    "y": 880,
    "wires": [["mqtt-out-commands"]]
  },

  {
    "id": "ui-switch-auto-close-primary",
    "type": "ui_switch",
    "z": "xsphere-tab",
    "name": "Primary auto-close",
    "label": "Primary_xe auto-close",
    "tooltip": "Enable automatic valve closing when primary_xe level is high",
    "group": "grp-valves",
    "order": 4,
    "width": 4,
    "height": 1,
    "passthru": false,
    "decouple": "false",
    "topic": "xsphere/commands/valve/primary_xe/auto_close",
    "topicType": "str",
    "style": "",
    "onvalue": "{\"enabled\":true}",
    "onvalueType": "json",
    "onicon": "",
    "oncolor": "",
    "offvalue": "{\"enabled\":false}",
    "offvalueType": "json",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 150,
    "y": 940,
    "wires": [["mqtt-out-commands"]]
  },

  {
    "id": "mqtt-in-pressure",
    "type": "mqtt in",
    "z": "xsphere-tab",
    "name": "Pressure",
    "topic": "xsphere/sensors/pressure/#",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 100,
    "y": 1040,
    "wires": [["fn-pressure-display"]]
  },

  {
    "id": "fn-pressure-display",
    "type": "function",
    "z": "xsphere-tab",
    "name": "Format pressure",
    "func": "var name = msg.topic.split('/').pop();\nvar psi = msg.payload.value_psi;\nmsg.payload = name + ': ' + (psi !== undefined ? parseFloat(psi).toFixed(2) + ' PSI' : '?');\nreturn msg;",
    "outputs": 1,
    "x": 310,
    "y": 1040,
    "wires": [["ui-text-pressure"]]
  },

  {
    "id": "ui-text-pressure",
    "type": "ui_text",
    "z": "xsphere-tab",
    "group": "grp-pressure",
    "order": 1,
    "width": 6,
    "height": 1,
    "name": "Pressure",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 510,
    "y": 1040,
    "wires": []
  },

  {
    "id": "mqtt-in-vacuum",
    "type": "mqtt in",
    "z": "xsphere-tab",
    "name": "Vacuum",
    "topic": "xsphere/sensors/vacuum/#",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 100,
    "y": 1120,
    "wires": [["fn-vacuum-display"]]
  },

  {
    "id": "fn-vacuum-display",
    "type": "function",
    "z": "xsphere-tab",
    "name": "Format vacuum",
    "func": "var name = msg.topic.split('/').pop();\nvar mbar = msg.payload.value_mbar;\nvar disp;\nif (mbar !== undefined) {\n    var m = parseFloat(mbar);\n    if (m < 0.001) disp = m.toExponential(2) + ' mbar';\n    else disp = m.toPrecision(4) + ' mbar';\n} else {\n    disp = '?';\n}\nmsg.payload = name + ': ' + disp;\nreturn msg;",
    "outputs": 1,
    "x": 310,
    "y": 1120,
    "wires": [["ui-text-vacuum"]]
  },

  {
    "id": "ui-text-vacuum",
    "type": "ui_text",
    "z": "xsphere-tab",
    "group": "grp-vacuum",
    "order": 1,
    "width": 6,
    "height": 1,
    "name": "Vacuum",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 510,
    "y": 1120,
    "wires": []
  },

  {
    "id": "mqtt-in-environment",
    "type": "mqtt in",
    "z": "xsphere-tab",
    "name": "Environment",
    "topic": "xsphere/sensors/environment/#",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 100,
    "y": 1200,
    "wires": [["fn-env-display"]]
  },

  {
    "id": "fn-env-display",
    "type": "function",
    "z": "xsphere-tab",
    "name": "Format environment",
    "func": "var name = msg.topic.split('/').pop();\nvar p = msg.payload;\nvar parts = [];\nif (p.temperature_c !== undefined) parts.push(parseFloat(p.temperature_c).toFixed(1) + '°C');\nif (p.humidity_pct  !== undefined) parts.push(parseFloat(p.humidity_pct).toFixed(0) + '%RH');\nif (p.pressure_hpa  !== undefined) parts.push(parseFloat(p.pressure_hpa).toFixed(1) + ' hPa');\nmsg.payload = name + ': ' + (parts.length ? parts.join(' | ') : '?');\nreturn msg;",
    "outputs": 1,
    "x": 320,
    "y": 1200,
    "wires": [["ui-text-environment"]]
  },

  {
    "id": "ui-text-environment",
    "type": "ui_text",
    "z": "xsphere-tab",
    "group": "grp-environment",
    "order": 1,
    "width": 8,
    "height": 1,
    "name": "Environment",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 530,
    "y": 1200,
    "wires": []
  },

  {
    "id": "mqtt-in-interlocks",
    "type": "mqtt in",
    "z": "xsphere-tab",
    "name": "Interlock Status",
    "topic": "xsphere/status/interlocks",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 110,
    "y": 1300,
    "wires": [["fn-interlocks-display"]]
  },

  {
    "id": "fn-interlocks-display",
    "type": "function",
    "z": "xsphere-tab",
    "name": "Format interlocks",
    "func": "var p = msg.payload;\nvar ok = p.ok;\nvar active = p.rules_active || [];\nif (ok) {\n    msg.payload = '✓ All interlocks OK';\n    msg.style = {color: 'green'};\n} else {\n    msg.payload = '⚠ ACTIVE ALERTS: ' + active.join(' | ');\n    msg.style = {color: 'red', 'font-weight': 'bold'};\n}\nreturn msg;",
    "outputs": 1,
    "x": 330,
    "y": 1300,
    "wires": [["ui-text-interlocks"]]
  },

  {
    "id": "ui-text-interlocks",
    "type": "ui_text",
    "z": "xsphere-tab",
    "group": "grp-alerts",
    "order": 1,
    "width": 12,
    "height": 2,
    "name": "Interlock Status",
    "label": "Interlock Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 540,
    "y": 1300,
    "wires": []
  },

  {
    "id": "mqtt-in-scanner-status",
    "type": "mqtt in",
    "z": "xsphere-tab",
    "name": "Scanner Status",
    "topic": "xsphere/status/gradient_scanner",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 110,
    "y": 1400,
    "wires": [["fn-scanner-status"]]
  },

  {
    "id": "fn-scanner-status",
    "type": "function",
    "z": "xsphere-tab",
    "name": "Format scanner status",
    "func": "var p = msg.payload;\nvar state = p.state || 'idle';\nvar step  = (p.step || 0) + 1;\nvar total = p.total_steps || 0;\nvar sp    = p.setpoint_k !== undefined ? parseFloat(p.setpoint_k).toFixed(1) + ' K' : '?';\nvar elapsed = p.elapsed_s !== undefined ? parseFloat(p.elapsed_s).toFixed(0) + ' s' : '?';\nif (state === 'idle') {\n    msg.payload = 'Idle';\n} else {\n    msg.payload = state.toUpperCase() + ' | Step ' + step + '/' + total + ' | SP: ' + sp + ' | Elapsed: ' + elapsed;\n}\nreturn msg;",
    "outputs": 1,
    "x": 340,
    "y": 1400,
    "wires": [["ui-text-scanner-status"]]
  },

  {
    "id": "ui-text-scanner-status",
    "type": "ui_text",
    "z": "xsphere-tab",
    "group": "grp-scanner",
    "order": 1,
    "width": 12,
    "height": 1,
    "name": "Scanner Status",
    "label": "Scan Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 560,
    "y": 1400,
    "wires": []
  },

  {
    "id": "ui-form-scan-params",
    "type": "ui_form",
    "z": "xsphere-tab",
    "name": "Scan Parameters",
    "label": "Configure Gradient Scan",
    "group": "grp-scanner",
    "order": 2,
    "width": 8,
    "height": 3,
    "options": [
      {"label": "Start (K)", "value": "start_k", "type": "number", "required": true, "rows": null},
      {"label": "End (K)",   "value": "end_k",   "type": "number", "required": true, "rows": null},
      {"label": "Step (K)",  "value": "step_k",  "type": "number", "required": true, "rows": null},
      {"label": "Dwell (s)", "value": "dwell_s", "type": "number", "required": true, "rows": null}
    ],
    "formValue": {"start_k": "160", "end_k": "180", "step_k": "5", "dwell_s": "300"},
    "payload": "",
    "submit": "Start Scan",
    "cancel": "Reset",
    "topic": "",
    "topicType": "str",
    "splitLayout": "",
    "className": "",
    "x": 130,
    "y": 1480,
    "wires": [["fn-start-scan"]]
  },

  {
    "id": "fn-start-scan",
    "type": "function",
    "z": "xsphere-tab",
    "name": "Build start command",
    "func": "msg.topic = 'xsphere/commands/gradient_scanner/start';\nmsg.payload = JSON.stringify({\n    start_k: parseFloat(msg.payload.start_k),\n    end_k:   parseFloat(msg.payload.end_k),\n    step_k:  parseFloat(msg.payload.step_k),\n    dwell_s: parseFloat(msg.payload.dwell_s)\n});\nreturn msg;",
    "outputs": 1,
    "x": 360,
    "y": 1480,
    "wires": [["mqtt-out-commands"]]
  },

  {
    "id": "ui-btn-stop-scan",
    "type": "ui_button",
    "z": "xsphere-tab",
    "name": "Stop scan",
    "group": "grp-scanner",
    "order": 3,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "STOP SCAN",
    "tooltip": "Abort the running gradient scan",
    "color": "white",
    "bgcolor": "red",
    "className": "",
    "icon": "",
    "payload": "{}",
    "payloadType": "json",
    "topic": "xsphere/commands/gradient_scanner/stop",
    "topicType": "str",
    "x": 130,
    "y": 1560,
    "wires": [["mqtt-out-commands"]]
  },

  {
    "id": "mqtt-out-commands",
    "type": "mqtt out",
    "z": "xsphere-tab",
    "name": "Commands",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker",
    "x": 660,
    "y": 1480,
    "wires": []
  }
]
